# Import the libraries

In [3]:
import os
import sys
sys.path.append("../")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
# Load data

data = pd.read_csv('../data/raw/smoking_driking_dataset_Ver01.csv')

In [5]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
age,991346.0,47.614491,14.181339,20.0,35.0,45.0,60.0,85.0
height,991346.0,162.240625,9.282957,130.0,155.0,160.0,170.0,190.0
weight,991346.0,63.284050,12.514241,25.0,55.0,60.0,70.0,140.0
waistline,991346.0,81.233358,11.850323,8.0,74.1,81.0,87.8,999.0
sight_left,991346.0,0.980834,0.605949,0.1,0.7,1.0,1.2,9.9
sight_right,991346.0,0.978429,0.604774,0.1,0.7,1.0,1.2,9.9
hear_left,991346.0,1.031495,0.174650,1.0,1.0,1.0,1.0,2.0
hear_right,991346.0,1.030476,0.171892,1.0,1.0,1.0,1.0,2.0
SBP,991346.0,122.432498,14.543148,67.0,112.0,120.0,131.0,273.0
DBP,991346.0,76.052627,9.889365,32.0,70.0,76.0,82.0,185.0
BLDS,991346.0,100.424447,24.179960,25.0,88.0,96.0,105.0,852.0
tot_chole,991346.0,195.557020,38.660155,30.0,169.0,193.0,219.0,2344.0
HDL_chole,991346.0,56.936800,17.238479,1.0,46.0,55.0,66.0,8110.0
LDL_chole,991346.0,113.037692,35.842812,1.0,89.0,111.0,135.0,5119.0
triglyceride,991346.0,132.141751,102.196985,1.0,73.0,106.0,159.0,9490.0
hemoglobin,991346.0,14.229824,1.584929,1.0,13.2,14.3,15.4,25.0
urine_protein,991346.0,1.094224,0.437724,1.0,1.0,1.0,1.0,6.0
serum_creatinine,991346.0,0.860467,0.480530,0.1,0.7,0.8,1.0,98.0
SGOT_AST,991346.0,25.989308,23.493386,1.0,19.0,23.0,28.0,9999.0
SGOT_ALT,991346.0,25.755051,26.308599,1.0,15.0,20.0,29.0,7210.0
gamma_GTP,991346.0,37.136347,50.424153,1.0,16.0,23.0,39.0,999.0
SMK_stat_type_cd,991346.0,1.608122,0.818507,1.0,1.0,1.0,2.0,3.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991346 entries, 0 to 991345
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   sex               991346 non-null  object
 1   age               991346 non-null  int64
 2   height            991346 non-null  int64
 3   weight            991346 non-null  int64
 4   waistline         991346 non-null  float64
 5   sight_left        991346 non-null  float64
 6   sight_right       991346 non-null  float64
 7   hear_left         991346 non-null  float64
 8   hear_right        991346 non-null  float64
 9   SBP               991346 non-null  float64
 10  DBP               991346 non-null  float64
 11  BLDS              991346 non-null  float64
 12  tot_chole         991346 non-null  float64
 13  HDL_chole         991346 non-null  float64
 14  LDL_chole         991346 non-null  float64
 15  triglyceride      991346 non-null  float64
 16  hemoglobin        991346 non-null  float64
 17  urine_protein     991346 non-null  float64
 18  serum_creatinine  991346 non-null  float64
 19  SGOT_AST          991346 non-null  float64
 20  SGOT_ALT          991346 non-null  float64
 21  gamma_GTP         991346 non-null  float64
 22  SMK_stat_type_cd  991346 non-null  float64
 23  DRK_YN            991346 non-null  object
dtypes: float64(19), int64(3), object(2)
memory usage: 181.5+ MB

In [7]:
#Rename columns

new_name = {
    'SBP': 'systolic_blood_pressure',
    'DBP': 'diastolic_blood_pressure',
    'BLDS': 'glucose_fasting',
    'tot_chole': 'total_cholesterol',
    'HDL_chole': 'HDL',
    'LDL_chole': 'LDL',
    'SGOT_AST': 'AST',
    'SGOT_ALT': 'ALT',
    'gamma_GTP': 'GGT',
    'DRK_YN': 'drinker',
}

data.rename(columns=new_name, inplace=True)

# Inconsistency data:
## Variables with inconsistent data:
- Waistline : values inconsistent.
- Sight_left: range evaluation is 0.1 to 2.0, but there are values greater than 2.0.
- Sight_right: range evaluation is 0.1 to 2.0, but there are values greater than 2.0.
- Glucose_Fasting: range evaluation are incompatible with life.
- Cholesterol: range evaluation are incompatible.
- HDL: range evaluation are incompatible.
- LDL: range evaluation are incompatible.
- Triglycerides: range evaluation are incompatible with variables HDL, LDL and Cholesterol.
- Hemoglobin: range evaluation are incompatible with life.
- Serum_Creatinine: range evaluation are incompatible with life.
- GOT: range evaluation are incompatible with life.
- GPT: range evaluation are incompatible with life.
- GGT: range evaluation are incompatible with life.

In [8]:
# drop inconsistent data
data.drop(data[data['waistline'] >= 150].index, inplace=True)
data.drop(data[data['waistline'] == 8].index, inplace=True)
data.drop(data[data['sight_left'] > 2.0].index, inplace=True)
data.drop(data[data['sight_right'] > 2.0].index, inplace=True)
data.drop(data[data['glucose_fasting'] <= 40].index, inplace=True)
data.drop(data[~((data['HDL'] <= data['total_cholesterol']) & (data['LDL'] <= data['total_cholesterol']))].index, inplace=True)
data.drop(data[data['triglyceride'] >= 400].index, inplace=True)
data.drop(data[data['triglyceride'] <= 10].index, inplace=True)
data.drop(data[data['LDL'] >= 500].index, inplace=True)
data.drop(data[data['LDL'] <= 10].index, inplace=True)
data.drop(data[data['HDL'] >= 200].index, inplace=True)
data.drop(data[data['HDL'] <= 10].index, inplace=True)
data.drop(data[data['hemoglobin'] < 4].index, inplace=True)
data.drop(data[data['serum_creatinine'] > 10].index, inplace=True)
data.drop(data[data['AST'] < 3].index, inplace=True)
data.drop(data[data['AST'] > 500].index, inplace=True)
data.drop(data[data['ALT'] < 3].index, inplace=True)
data.drop(data[data['ALT'] > 500].index, inplace=True)
data.drop(data[data['GGT'] < 3].index, inplace=True)
data.drop(data[data['GGT'] > 500].index, inplace=True)

In [9]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
age,964033.0,47.570747,14.195637,20.0,35.0,45.0,60.0,85.0
height,964033.0,162.165455,9.277044,130.0,155.0,160.0,170.0,190.0
weight,964033.0,63.103639,12.436934,25.0,55.0,60.0,70.0,140.0
waistline,964033.0,81.027678,9.570925,27.0,74.0,81.0,87.0,149.1
sight_left,964033.0,0.952371,0.341245,0.1,0.7,1.0,1.2,2.0
sight_right,964033.0,0.949997,0.339704,0.1,0.7,1.0,1.2,2.0
hear_left,964033.0,1.031191,0.173833,1.0,1.0,1.0,1.0,2.0
hear_right,964033.0,1.030164,0.171038,1.0,1.0,1.0,1.0,2.0
systolic_blood_pressure,964033.0,122.253356,14.490308,70.0,112.0,120.0,131.0,273.0
diastolic_blood_pressure,964033.0,75.930930,9.845661,33.0,70.0,76.0,81.0,185.0
glucose_fasting,964033.0,100.001392,23.262947,42.0,88.0,96.0,105.0,852.0
total_cholesterol,964033.0,194.917388,37.528248,54.0,169.0,193.0,218.0,559.0
HDL,964033.0,57.212782,14.775047,11.0,47.0,55.0,66.0,192.0
LDL,964033.0,113.102073,34.333100,11.0,89.0,111.0,135.0,482.0
triglyceride,964033.0,122.879755,69.029693,11.0,73.0,105.0,154.0,399.0
hemoglobin,964033.0,14.210082,1.579406,4.0,13.1,14.2,15.4,25.0
urine_protein,964033.0,1.091753,0.429874,1.0,1.0,1.0,1.0,6.0
serum_creatinine,964033.0,0.855051,0.252801,0.1,0.7,0.8,1.0,10.0
AST,964033.0,25.510958,13.550089,3.0,19.0,23.0,28.0,499.0
ALT,964033.0,25.182859,19.609024,3.0,15.0,20.0,29.0,496.0
GGT,964033.0,34.755164,38.045426,3.0,15.0,23.0,38.0,500.0
SMK_stat_type_cd,964033.0,1.595659,0.813195,1.0,1.0,1.0,2.0,3.0

Now the dataset no have inconsistent data.

In [10]:
data.columns

Index(['sex', 'age', 'height', 'weight', 'waistline', 'sight_left',
       'sight_right', 'hear_left', 'hear_right', 'systolic_blood_pressure',
       'diastolic_blood_pressure', 'glucose_fasting', 'total_cholesterol',
       'HDL', 'LDL', 'triglyceride', 'hemoglobin', 'urine_protein',
       'serum_creatinine', 'AST', 'ALT', 'GGT', 'SMK_stat_type_cd', 'drinker'],
      dtype='object')

In [11]:
data['sex'].value_counts()

sex
Male      505120
Female    458913
Name: count, dtype: int64

In [12]:
# One hot encoding to variable

data = pd.get_dummies(data, columns=['SMK_stat_type_cd'])

In [13]:
# transform drinker and sex to binary 

data['drinker'] = data['drinker'].apply(lambda x: 1 if x == 'Y' else 0)
data['sex'] = data['sex'].apply(lambda x: 1 if x == 'Male' else 0)

In [14]:
# rename columns

new_name = {
    'SMK_stat_type_cd_1.0': 'never_smoked',
    'SMK_stat_type_cd_2.0': 'ex_smoker',
    'SMK_stat_type_cd_3.0': 'current_smoker',
}

data.rename(columns=new_name, inplace=True)

In [15]:
# transform boolean columns in int64

data['never_smoked'] = data['never_smoked'].astype('int64')
data['ex_smoker'] = data['ex_smoker'].astype('int64')
data['current_smoker'] = data['current_smoker'].astype('int64')

In [16]:
data.dtypes

sex                           int64
age                           int64
height                        int64
weight                        int64
waistline                   float64
sight_left                  float64
sight_right                 float64
hear_left                   float64
hear_right                  float64
systolic_blood_pressure     float64
diastolic_blood_pressure    float64
glucose_fasting             float64
total_cholesterol           float64
HDL                         float64
LDL                         float64
triglyceride                float64
hemoglobin                  float64
urine_protein               float64
serum_creatinine            float64
AST                         float64
ALT                         float64
GGT                         float64
drinker                       int64
never_smoked                  int64
ex_smoker                     int64
current_smoker                int64
dtype: object

Now the variables are with the correct data type.

In [17]:
# Detect missing values
data.isna().sum()

sex                         0
age                         0
height                      0
weight                      0
waistline                   0
sight_left                  0
sight_right                 0
hear_left                   0
hear_right                  0
systolic_blood_pressure     0
diastolic_blood_pressure    0
glucose_fasting             0
total_cholesterol           0
HDL                         0
LDL                         0
triglyceride                0
hemoglobin                  0
urine_protein               0
serum_creatinine            0
AST                         0
ALT                         0
GGT                         0
drinker                     0
never_smoked                0
ex_smoker                   0
current_smoker              0
dtype: int64

In [18]:
# Detect duplicated values
data.duplicated().sum()
# Drop duplicated values
data.drop_duplicates(inplace=True)
# Verify if duplicated values were dropped
data.duplicated().sum()

0

In [19]:
# Now we will save the data in a new csv file

data.to_csv('../data/processed/clean.csv', index=False)

In [20]:
import numpy as np
import pandas as pd
from scipy.stats import zscore
from scipy.spatial import distance

def detect_outliers(data, method='tukey', k=1.5, mahalanobis_threshold=3):
    """
    Detecta valores atípicos en un DataFrame utilizando el método de Tukey o la distancia de Mahalanobis.

    Parámetros:
    - data (DataFrame): DataFrame que contiene los datos.
    - method (str): Método a utilizar: 'tukey' o 'mahalanobis'. Por defecto, 'tukey'.
    - k (float): Factor para el método de Tukey. Por defecto, 1.5.

    Retorna:
    - outliers_count (Series): Número de outliers detectados para cada columna.
    """

    # Verificar si las columnas son numéricas y no binarias
    numerical_columns = data.select_dtypes(include=[np.number]).columns
    numerical_columns = [col for col in numerical_columns if len(data[col].unique()) > 2]

    # Inicializar el contador de outliers
    outliers_count = pd.Series(0, index=numerical_columns)

    if method == 'tukey':
        for col in numerical_columns:
            q1 = data[col].quantile(0.25)
            q3 = data[col].quantile(0.75)
            iqr = q3 - q1
            lower_bound = q1 - k * iqr
            upper_bound = q3 + k * iqr

            outliers_count[col] = ((data[col] < lower_bound) | (data[col] > upper_bound)).sum()

    elif method == 'mahalanobis':
        for col in numerical_columns:
            X = data[numerical_columns].values
            cov_matrix = np.cov(X, rowvar=False)
            inv_cov_matrix = np.linalg.inv(cov_matrix)

            for i in range(len(X)):
                mahalanobis_dist = distance.mahalanobis(X[i], np.mean(X, axis=0), inv_cov_matrix)
                if mahalanobis_dist > np.sqrt(mahalanobis_threshold):
                    outliers_count[col] += 1
    print(f'total outliers: {outliers_count.sum()} with {method} method')
    return outliers_count

In [24]:
detect_outliers(data, method='tukey', k=3)

total outliers: 176482 with tukey method

age                             0
height                          0
weight                        334
waistline                      55
sight_left                      0
sight_right                     0
systolic_blood_pressure       634
diastolic_blood_pressure     1323
glucose_fasting             24987
total_cholesterol             337
HDL                           730
LDL                           309
triglyceride                  513
hemoglobin                    169
urine_protein               53666
serum_creatinine             1789
AST                         24224
ALT                         26879
GGT                         40533
dtype: int64