# Import the libraries

In [44]:
import os
import sys
sys.path.append("../")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [45]:
# Load data

data = pd.read_csv('../data/raw/smoking_driking_dataset_Ver01.csv')

In [46]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
age,991346.0,47.614491,14.181339,20.0,35.0,45.0,60.0,85.0
height,991346.0,162.240625,9.282957,130.0,155.0,160.0,170.0,190.0
weight,991346.0,63.284050,12.514241,25.0,55.0,60.0,70.0,140.0
waistline,991346.0,81.233358,11.850323,8.0,74.1,81.0,87.8,999.0
sight_left,991346.0,0.980834,0.605949,0.1,0.7,1.0,1.2,9.9
sight_right,991346.0,0.978429,0.604774,0.1,0.7,1.0,1.2,9.9
hear_left,991346.0,1.031495,0.174650,1.0,1.0,1.0,1.0,2.0
hear_right,991346.0,1.030476,0.171892,1.0,1.0,1.0,1.0,2.0
SBP,991346.0,122.432498,14.543148,67.0,112.0,120.0,131.0,273.0
DBP,991346.0,76.052627,9.889365,32.0,70.0,76.0,82.0,185.0
BLDS,991346.0,100.424447,24.179960,25.0,88.0,96.0,105.0,852.0
tot_chole,991346.0,195.557020,38.660155,30.0,169.0,193.0,219.0,2344.0
HDL_chole,991346.0,56.936800,17.238479,1.0,46.0,55.0,66.0,8110.0
LDL_chole,991346.0,113.037692,35.842812,1.0,89.0,111.0,135.0,5119.0
triglyceride,991346.0,132.141751,102.196985,1.0,73.0,106.0,159.0,9490.0
hemoglobin,991346.0,14.229824,1.584929,1.0,13.2,14.3,15.4,25.0
urine_protein,991346.0,1.094224,0.437724,1.0,1.0,1.0,1.0,6.0
serum_creatinine,991346.0,0.860467,0.480530,0.1,0.7,0.8,1.0,98.0
SGOT_AST,991346.0,25.989308,23.493386,1.0,19.0,23.0,28.0,9999.0
SGOT_ALT,991346.0,25.755051,26.308599,1.0,15.0,20.0,29.0,7210.0
gamma_GTP,991346.0,37.136347,50.424153,1.0,16.0,23.0,39.0,999.0
SMK_stat_type_cd,991346.0,1.608122,0.818507,1.0,1.0,1.0,2.0,3.0

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991346 entries, 0 to 991345
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   sex               991346 non-null  object
 1   age               991346 non-null  int64
 2   height            991346 non-null  int64
 3   weight            991346 non-null  int64
 4   waistline         991346 non-null  float64
 5   sight_left        991346 non-null  float64
 6   sight_right       991346 non-null  float64
 7   hear_left         991346 non-null  float64
 8   hear_right        991346 non-null  float64
 9   SBP               991346 non-null  float64
 10  DBP               991346 non-null  float64
 11  BLDS              991346 non-null  float64
 12  tot_chole         991346 non-null  float64
 13  HDL_chole         991346 non-null  float64
 14  LDL_chole         991346 non-null  float64
 15  triglyceride      991346 non-null  float64
 16  hemoglobin        991346 non-null  float64
 17  urine_protein     991346 non-null  float64
 18  serum_creatinine  991346 non-null  float64
 19  SGOT_AST          991346 non-null  float64
 20  SGOT_ALT          991346 non-null  float64
 21  gamma_GTP         991346 non-null  float64
 22  SMK_stat_type_cd  991346 non-null  float64
 23  DRK_YN            991346 non-null  object
dtypes: float64(19), int64(3), object(2)
memory usage: 181.5+ MB

In [48]:
#Rename columns

new_name = {
    'SBP': 'systolic_blood_pressure',
    'DBP': 'diastolic_blood_pressure',
    'BLDS': 'glucose_fasting',
    'tot_chole': 'total_cholesterol',
    'HDL_chole': 'HDL',
    'LDL_chole': 'LDL',
    'SGOT_AST': 'AST',
    'SGOT_ALT': 'ALT',
    'gamma_GTP': 'GGT',
    'DRK_YN': 'drinker',
    'SMK_stat_type_cd': 'smoker_status',
}

data.rename(columns=new_name, inplace=True)

# Inconsistency data:
## Variables with inconsistent data:
- Waistline : values inconsistent.
- Sight_left: range evaluation is 0.1 to 2.0, but there are values greater than 2.0.
- Sight_right: range evaluation is 0.1 to 2.0, but there are values greater than 2.0.
- Glucose_Fasting: range evaluation are incompatible with life.
- Cholesterol: range evaluation are incompatible.
- HDL: range evaluation are incompatible.
- LDL: range evaluation are incompatible.
- Triglycerides: range evaluation are incompatible with variables HDL, LDL and Cholesterol.
- Hemoglobin: range evaluation are incompatible with life.
- Serum_Creatinine: range evaluation are incompatible with life.
- GOT: range evaluation are incompatible with life.
- GPT: range evaluation are incompatible with life.
- GGT: range evaluation are incompatible with life.

In [49]:
# drop inconsistent data
data.drop(data[data['waistline'] >= 150].index, inplace=True)
data.drop(data[data['waistline'] == 8].index, inplace=True)
data.drop(data[data['glucose_fasting'] <= 40].index, inplace=True)
data.drop(data[~(data['HDL'] <= data['total_cholesterol'])].index, inplace=True)
data.drop(data[data['triglyceride'] <= 10].index, inplace=True)
data.drop(data[data['triglyceride'] > 500].index, inplace=True)
data.drop(data[data['total_cholesterol'] > 500].index, inplace=True)
data.drop(data[data['HDL'] <= 10].index, inplace=True)
data.drop(data[data['hemoglobin'] < 4].index, inplace=True)
data.drop(data[data['serum_creatinine'] > 10].index, inplace=True)
data.drop(data[data['AST'] < 3].index, inplace=True)
data.drop(data[data['AST'] > 500].index, inplace=True)
data.drop(data[data['ALT'] < 3].index, inplace=True)
data.drop(data[data['ALT'] > 500].index, inplace=True)
data.drop(data[data['GGT'] < 3].index, inplace=True)
data.drop(data[data['GGT'] > 500].index, inplace=True)

# Drop columns

data.drop('LDL', axis=1, inplace=True)
data.drop('sight_left', axis=1, inplace=True)
data.drop('sight_right', axis=1, inplace=True)
data.drop('hear_left', axis=1, inplace=True)
data.drop('hear_right', axis=1, inplace=True)

## Explanation of the data cleaning process:
- The data eliminated were those whose values were disproportionate to the range of the variable. The intention was to maintain pathological values that are considered outliers so that the model would be able to generalize the data.
- The LDL variable was eliminated to create a new variable that is composed of the difference between the values of Cholesterol and HDL.

## Create new variables:

In [50]:
# Add  new variable NO_HDL 
data['NO_HDL'] = data['total_cholesterol'] - data['HDL']

# add new variable for AST_ALT
data['AST_ALT'] = data['AST'] / data['ALT']

# add new variable BMI
data['BMI'] = data['weight'] / ((data['height'] / 100) ** 2)

# add new variable for hypertension
data['hypertension'] = data.apply(lambda x: 1 if (x['systolic_blood_pressure'] > 130) & (x['diastolic_blood_pressure'] > 80) else 0, axis=1)

# add new variable for diabetes
data['diabetes'] = data.apply(lambda x: 1 if x['glucose_fasting'] >= 126 else 0, axis=1)

## Transform variables:

In [51]:
# transform drinker and sex to binary 

data['drinker'] = data['drinker'].apply(lambda x: 1 if x == 'Y' else 0)
data['sex'] = data['sex'].apply(lambda x: 1 if x == 'Male' else 0)
data['urine_protein'] = data['urine_protein'].apply(lambda x: 1 if x > 1.0 else 0)

Now the dataset no have inconsistent data.

In [52]:
data.columns

Index(['sex', 'age', 'height', 'weight', 'waistline',
       'systolic_blood_pressure', 'diastolic_blood_pressure',
       'glucose_fasting', 'total_cholesterol', 'HDL', 'triglyceride',
       'hemoglobin', 'urine_protein', 'serum_creatinine', 'AST', 'ALT', 'GGT',
       'smoker_status', 'drinker', 'NO_HDL', 'AST_ALT', 'BMI', 'hypertension',
       'diabetes'],
      dtype='object')

In [53]:
data.dtypes

sex                           int64
age                           int64
height                        int64
weight                        int64
waistline                   float64
systolic_blood_pressure     float64
diastolic_blood_pressure    float64
glucose_fasting             float64
total_cholesterol           float64
HDL                         float64
triglyceride                float64
hemoglobin                  float64
urine_protein                 int64
serum_creatinine            float64
AST                         float64
ALT                         float64
GGT                         float64
smoker_status               float64
drinker                       int64
NO_HDL                      float64
AST_ALT                     float64
BMI                         float64
hypertension                  int64
diabetes                      int64
dtype: object

Now the variables are with the correct data type.

In [54]:
# Detect missing values
data.isna().sum()

sex                         0
age                         0
height                      0
weight                      0
waistline                   0
systolic_blood_pressure     0
diastolic_blood_pressure    0
glucose_fasting             0
total_cholesterol           0
HDL                         0
triglyceride                0
hemoglobin                  0
urine_protein               0
serum_creatinine            0
AST                         0
ALT                         0
GGT                         0
smoker_status               0
drinker                     0
NO_HDL                      0
AST_ALT                     0
BMI                         0
hypertension                0
diabetes                    0
dtype: int64

In [55]:
# Detect duplicated values
data.duplicated().sum()
# Drop duplicated values
data.drop_duplicates(inplace=True)
# Verify if duplicated values were dropped
data.duplicated().sum()

0

In [56]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
sex,979089.0,0.527085,0.499266,0.000000,0.000000,1.000000,1.000000,1.000000
age,979089.0,47.637125,14.208497,20.000000,35.000000,45.000000,60.000000,85.000000
height,979089.0,162.185925,9.283383,130.000000,155.000000,160.000000,170.000000,190.000000
weight,979089.0,63.181509,12.470856,25.000000,55.000000,60.000000,70.000000,140.000000
waistline,979089.0,81.107430,9.580558,27.000000,74.000000,81.000000,87.400000,149.100000
systolic_blood_pressure,979089.0,122.346252,14.516173,67.000000,112.000000,120.000000,131.000000,273.000000
diastolic_blood_pressure,979089.0,75.985745,9.863042,32.000000,70.000000,76.000000,81.000000,185.000000
glucose_fasting,979089.0,100.184705,23.610510,42.000000,88.000000,96.000000,105.000000,852.000000
total_cholesterol,979089.0,195.100876,37.672464,54.000000,169.000000,193.000000,219.000000,492.000000
HDL,979089.0,57.063122,14.804796,11.000000,46.000000,55.000000,66.000000,209.000000
triglyceride,979089.0,125.959383,75.419659,11.000000,73.000000,106.000000,157.000000,500.000000
hemoglobin,979089.0,14.218299,1.581561,4.000000,13.200000,14.200000,15.400000,25.000000
urine_protein,979089.0,0.056102,0.230119,0.000000,0.000000,0.000000,0.000000,1.000000
serum_creatinine,979089.0,0.856161,0.255019,0.100000,0.700000,0.800000,1.000000,10.000000
AST,979089.0,25.584479,13.636767,3.000000,19.000000,23.000000,28.000000,499.000000
ALT,979089.0,25.315466,19.730070,3.000000,15.000000,20.000000,29.000000,496.000000
GGT,979089.0,35.211807,38.821494,3.000000,16.000000,23.000000,39.000000,500.000000
smoker_status,979089.0,1.600589,0.815199,1.000000,1.000000,1.000000,2.000000,3.000000
drinker,979089.0,0.496625,0.499989,0.000000,0.000000,0.000000,1.000000,1.000000
NO_HDL,979089.0,138.037754,37.822652,2.000000,111.000000,136.000000,162.000000,423.000000
AST_ALT,979089.0,1.192063,0.467293,0.045455,0.880000,1.133333,1.416667,25.500000
BMI,979089.0,23.895809,3.508585,12.486993,21.484375,23.781213,25.951557,45.714286
hypertension,979089.0,0.168542,0.374347,0.000000,0.000000,0.000000,0.000000,1.000000
diabetes,979089.0,0.074920,0.263262,0.000000,0.000000,0.000000,0.000000,1.000000

In [57]:
# Scale data
from scripts.manipulation.scale_data import scale_data

data_scaled = scale_data(data, method='standard')

In [58]:
# Use a logit model to evaluate the importance of each variable with statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import logit

# Separate the target variable from the features
y = data_scaled['drinker']
X = data_scaled.drop(['drinker'], axis=1)

# Create the model
model = sm.Logit(y, X)

# Fit the model
result = model.fit()

# Print the summary
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.545228
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:                drinker   No. Observations:               979089
Model:                          Logit   Df Residuals:                   979067
Method:                           MLE   Df Model:                           21
Date:                Thu, 19 Oct 2023   Pseudo R-squ.:                  0.2134
Time:                        09:48:02   Log-Likelihood:            -5.3383e+05
converged:                       True   LL-Null:                   -6.7863e+05
Covariance Type:            nonrobust   LLR p-value:                     0.000
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
sex                          0.3249      0.005     67.406      0.000       0.315       0.334
age                         -0.5320      0.003   -168.445      0.000      -0.538      -0.526
height                       0.3205      0.018     17.927      0.000       0.285       0.356
weight                       0.0051      0.030      0.171      0.865      -0.054       0.064
waistline                    0.0688      0.005     14.123      0.000       0.059       0.078
systolic_blood_pressure      0.0057      0.004      1.459      0.144      -0.002       0.013
diastolic_blood_pressure     0.1371      0.004     36.018      0.000       0.130       0.145
glucose_fasting              0.0826      0.004     22.563      0.000       0.075       0.090
total_cholesterol            0.0166   9.18e+04    1.8e-07      1.000    -1.8e+05     1.8e+05
HDL                          0.3589   3.61e+04   9.95e-06      1.000   -7.07e+04    7.07e+04
triglyceride                 0.1195      0.003     38.125      0.000       0.113       0.126
hemoglobin                   0.1461      0.003     45.428      0.000       0.140       0.152
urine_protein               -0.0963      0.010     -9.333      0.000      -0.116      -0.076
serum_creatinine            -0.0299      0.003    -10.790      0.000      -0.035      -0.024
AST                          0.1380      0.005     25.583      0.000       0.127       0.149
ALT                         -0.3524      0.006    -59.308      0.000      -0.364      -0.341
GGT                          0.6206      0.005    135.931      0.000       0.612       0.630
smoker_status                0.4482      0.003    154.127      0.000       0.442       0.454
NO_HDL                      -0.1240   9.22e+04  -1.34e-06      1.000   -1.81e+05    1.81e+05
AST_ALT                      0.0829      0.004     22.553      0.000       0.076       0.090
BMI                          0.0235      0.022      1.044      0.296      -0.021       0.068
hypertension                -0.1382      0.008    -16.575      0.000      -0.155      -0.122
diabetes                    -0.3779      0.013    -28.178      0.000      -0.404      -0.352
============================================================================================

In [59]:
from scripts.analysis.multicollinearity import detect_multicollinearity

detect_multicollinearity(data=data_scaled)

                     Feature         VIF Multicollinearity
0                        sex    3.618564                No
1                        age    1.858164                No
2                     height   48.193009               Yes
3                     weight  134.857496               Yes
4                  waistline    4.250579                No
5    systolic_blood_pressure    2.707209                No
6   diastolic_blood_pressure    2.562770                No
7            glucose_fasting    2.233924                No
8          total_cholesterol         inf               Yes
9                        HDL         inf               Yes
10              triglyceride    1.618111                No
11                hemoglobin    1.857082                No
12             urine_protein    1.066098                No
13          serum_creatinine    1.241848                No
14                       AST    3.691201                No
15                       ALT    4.895316                No
16                       GGT    1.518932                No
17             smoker_status    1.497872                No
18                   drinker    2.392162                No
19                    NO_HDL         inf               Yes
20                   AST_ALT    2.230067                No
21                       BMI   76.211316               Yes
22              hypertension    2.060334                No
23                  diabetes    2.275525                No

In [60]:
# drop variables with multicollinearity

data_scaled.drop(['weight', 'height', 'total_cholesterol', ], axis=1, inplace=True)

In [61]:
detect_multicollinearity(data=data_scaled)

                     Feature       VIF Multicollinearity
0                        sex  3.279940                No
1                        age  1.396328                No
2                  waistline  3.665523                No
3    systolic_blood_pressure  2.703443                No
4   diastolic_blood_pressure  2.557353                No
5            glucose_fasting  2.223903                No
6                        HDL  1.404363                No
7               triglyceride  1.615750                No
8                 hemoglobin  1.802993                No
9              urine_protein  1.063324                No
10          serum_creatinine  1.216122                No
11                       AST  3.673105                No
12                       ALT  4.833016                No
13                       GGT  1.518782                No
14             smoker_status  1.458957                No
15                   drinker  2.358340                No
16                    NO_HDL  1.253533                No
17                   AST_ALT  2.220401                No
18                       BMI  3.104412                No
19              hypertension  2.032317                No
20                  diabetes  2.255038                No

In [62]:
# Now we will save the data in a new csv file

data_scaled.to_csv('../data/processed/clean.csv', index=False)